.ContainerLogIn{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url('./img/wallpaper.jpg');
    background-position: center center;
    background-size: cover;
}

.FormContainer{
    width: 400px;
    height: 500px;
    position: relative;
    top: 15vh;
    padding: 15px;
    margin: 0 auto;
    /* border: thin dotted #f00; */
}

.CardForm{
    width: 350px;
    height: 420px;
    background-color: #fff;
    position: relative;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.2);
    /* border: thin dotted #f00; */
}

.Logo{
    width: 110px;
    height: 30px;
    margin: 0 auto;
    padding: 30px 0;
    /* border: thin dotted #00f; */
}

.DataField{
    width: 350px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.Field{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    border: thin solid #ccc;
    outline: none;
}

.Field:focus{
    border: 1px solid #FE6B8B;
}

.BtnLogin{
    width: 315px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    transition: 0.5s all;
}

.BtnLogin:hover{
    cursor: pointer;
    background: linear-gradient(45deg,#FF8E53 30%, #FE6B8B 90% );
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

.BtnLogin:focus, .BtnFace:focus, .LinkSingIn{
    outline: none;
}

.DividerContainer{
    width: 315px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 14px;
    color: rgb(122, 122, 122);
    /* border: thin dotted #f00; */
}

.BtnFace{
    width: 315px;
    height: 45px;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    background-color: #4285F4;
    /* background: linear-gradient(45deg, #1775cc 30%, #1448d8 90%); */
    transition: 0.5s all;
}

/* .BtnFace:hover{
    cursor: pointer;
    background: linear-gradient(45deg,#1448d8 30%, #1775cc 90% );
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
} */

.NewUser{
    width: 250px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 14px;
    color: rgb(122, 122, 122);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RowEnd{
    height: 15px;
}

.LinkSingIn{
    text-decoration: none;
    color: #FE6B8B;
    font-size: 14px;
    font-weight: 500;
    transition: 0.5s all;
}

.LinkSingIn:hover{
    color: #dd1540;
}

.ErrorContainer{
    width: 240px;
    height: 30px;
    left: 350px;
    position: absolute;
    color: #fff;
    /* border: thin dotted #00f; */
}

.error{
    width: 200px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
    float: left;
    background-color: #dd1540;
    z-index: 300;
}

.ArrowLeft1{
    font-size: 24px;
    float: left;
    margin-top: 3px;
    color: #dd1540;
}

.ErrorContainer2{
    width: 280px;
    height: 100px;
    left: 350px;
    top: 157px;
    position: absolute;
    color: #fff;
    /* border: thin dotted #00f; */
}

.error2{
    width: 230px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    float: left;
    line-height: 15px;
    background-color: #dd1540;
    z-index: 300;
}

.ArrowLeft2{
    font-size: 24px;
    float: left;
    margin-top: 13px;
    color: #dd1540;
}
